---
title: Compass Home
crumb: Home
body_id: home
layout: homepage
---

%aside(role="sidebar")
  #search
    <input type="search" id="search-field" autocomplete="off" placeholder="Search...">
  #navigation
%article
  #docs_panel
    %a{:class => ['home-link', 'hidden'], :href => "#"} Home
    #theme_pref
      %a{:href => "#", :rel => "theme", :title => "switch theme" } *
    #syntax_pref
      %a{:href => "#", :rel => "scss" } scss
      %a{:href => "#", :rel => "sass" } sass
    #version
      Version:
      %a.number(href="/CHANGELOG/")= compass_version
  %section#content
    %section.article
      %h1#main-title Compass API Browser

      %p Welcome to Compass/Blueprint API browser. It's generated from <a href="http://compass-style.org/reference/compass/">original API reference</a>, but has some additional features like fast AJAX-loading and search. Enjoy!

      - modules = [{:id => 'core', :name => 'Compass'}, {:id => 'blueprint', :name => 'Blueprint'}]

      %div#toc
        - modules.each do |api_module|
          %h2= api_module[:name]
          %ul.api-list><
            - navtree(api_module[:id]).sort.each do |k, v|
              %li.module><
                %span><= k
                %ul><
                  - v[:children].sort.each do |sk, sv|
                    %li><
                      = sk
                      %ul><
                        - sv[:children].sort.each do |key, val|
                          %li><
                            %a{:href => "#{sv[:path]}##{val[:el_type]}-#{key}"}><= key

      %h3 Credits

      %p Compass Documentation by <a href="http://eppsteins.net/chris">Christopher M. Eppstein</a>. This site compiled by <a href="http://www.aether.ru/">Alexander Shabunevich</a> (<a href="http://twitter.com/beholdr">@beholdr</a>), inspired by <a href="http://jqapi.com/">jQAPI for jQuery</a>.